body {
    background-color: lightgrey;
}
div {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
.flag {
    align-self: center;
    max-block-size: 900px;
    margin: auto;
}